<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h3><a href="/">Django Girls Blog</a></h3>
        </div>
        <div>
	<div>
		<h2>Dynamic contents below</h2>
       		  <!--<em>{{posts}}</em> -->
		<h3>
		   {% for i in posts %}
		   	<div class="posts">
	   		     <ul>
	   		     	<li>{{i.title}}</li>
				<li>{{i.name}}</li>
	   		     	<li>{{i.text}}</li>
                             </ul>
		   	</div>	
           	   {%	endfor %}
		</h3> 	
	</div>
    </body>
</html>
